.memory{ padding: 2em;display: flex; flex-direction: column; align-items: center;
  .container{max-width: 1200px;display: flex; flex-direction: column; align-items: center;
    .titre {text-align: center; color: $white; font-weight: bold; font-size: 25px;border-bottom: solid 2px $white; width: 250px; line-height: 1.5; margin-bottom: 1em;  text-shadow: 1.5px 1px rgba(0,0,0,1);}
    .cadre { background-color: rgba(	196, 196, 196,0.2);padding: 1em;}
    .txt {color: $white; line-height: 1.5; font-size: 18px;text-shadow: 1.5px 1px rgba(0,0,0,1);
      strong{font-weight: bold; text-decoration: underline;}
    }
    .tableau{ margin: 2em auto; background-color: $white; padding: 1em;display: grid;grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;grid-column-gap: 10px;
    grid-row-gap: 10px;
      .carte_content{border: solid 2px $red;background-color: $white; width: 90px;background-image: url(../IMG/cerf.png);background-position: center;background-size: cover;
        li {list-style: none;}
        .carte{height: 100px}
      }
    }
    input {color: $white; background-color: $red; padding: 1em; font-weight: bold;text-align: center;font-size: 18px;border: none;
    &:focus {box-shadow: rgba(218, 37, 52,0.4) 0px 8px 24px; outline: none}
  }

  }
}
